/** @type {import('jest').Config} */
module.exports = {
  preset: 'ts-jest',
  testEnvironment: 'node',
  testMatch: ['**/tests/**/*.test.ts'],
  moduleNameMapper: {
    '^../src/eureka$': '<rootDir>/tests/__mocks__/eureka.ts',
  },
  clearMocks: true,
};
